%h4.carousel
  Register to remove ads!
%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ cashback
%ins.adsbygoogle{"data-ad-client" => "ca-pub-1902425673775970", "data-ad-format" => "auto", "data-ad-slot" => "1117298183", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});