%p
  All Kohls Coupons.com  offers a service that allows members to earn cash back on purchases made at Kohl's. Joining and using All Kohls Coupons is free and simple. All Kohls Coupons does not sell or rent your personal information to third parties, and All Kohls Coupons does not spam its members. All Kohls Coupons does not install or require you to install software on your computer. In other words, there is no catch. All Kohls Coupons receives a fee for referring buyers to affiliated stores and uses that fee to pay members cash back on their purchases.
%p
  Please read this complete Terms of Service ("TOS") for full details on the All Kohls Coupons Cash Back Program ("Program").
%h4
  Becoming a Member
%p
  Enrolling as a member in the Program ("Member"), or by utilizing any of All Kohls Coupons' shopping applications ("Applications"), you agree to be bound by this TOS. Enrollment as a Member is simple: you must provide an email address so All Kohls Coupons can track your cash back to your account. Members must be at least eighteen years old and agree not to use the Program for any illegal or fraudulent activity. Please be aware that participation in the Program and the opportunity to earn cash back are offered at the sole discretion of All Kohls Coupons, and All Kohls Coupons has the right to change this TOS in whole or in part, at any time, with or without notice.