-provide(:title, "All Kohls Coupons Cash Back | Welcome")
.jumbotron
  %h1 
    Welcome,
    %small to All Kohls Coupons Cash Back App
  %p.lead
    Thank you for completing the first step of registering at CashBack.AllKohlsCoupons.com.  You can start earning cash back right away.  Please go to your email and find the email from All Kohls Coupons and click the link to complete registration.  That is all you have todo and you will be ready to start earning cash back.