-provide(:title, "All Kohls Coupons Cash Back | Welcome")
.jumbotron
  %h1 
    Welcome,
    %small to All Kohls Coupons Cash Back App
  %p.lead
    Finding deals at Kohls is now more rewarding. All Kohls Coupons is rolling out the new cash back application that rewards it's members with cash back. Our new site is designed with the user in mind and it is easy to use, you can see your activity and it is simple to get your cash back.
  %p.text-center
    = link_to "Free! Get Started Now", new_user_path, class: 'btn btn-lg btn-success'
.row.marketing
  .s4.l4
    %h1.text-center
      %span.glyphicon.glyphicon-ok
      1
    %h4.text-center
      Register
    %p 
      Registering is easy. Click the Get Started Now button, where you will fill in a form with your email address, password and name. Once you submit your information we will email you to confirm your email address.
  .s4.l4
    %h1.text-center
      %span.glyphicon.glyphicon-ok
      2
    %h4.text-center
      Verify Your Email
    %p
      Check the email you to confirm your information by clicking a link in the email you receive, which will bring you back to CashBack.AllKohlsCoupons.com, verifying your email.
  .s4.l4
    %h1.text-center
      %span.glyphicon.glyphicon-ok
      3
    %h4.text-center
      Save and get Cash Back
    %p
      Sign in and start earning cash back with each purchase you make at Kohl's, by clicking on the Get Deal button on either coupon codes or offers. You will receive cash back even if you don't buy the products shown on sale or deal but you must first click on a Get Deal button to get to the Kohl's website.