!!! 5
%html(lang="en-US")
  %body
    %p #{@email},
    %p 
      You have been sent a coupon from cashback.allkohlscoupons.com.  #{@user.email} shared it with you. To use it click on the "Get Deal" button.
    %p TODO add coupon and other