!!! 5
%html(lang="en-US")
  %body
    %p= @user.full_name
    %p 
      Thank you for making a withdrawl of 
      = number_to_currency( @transaction.amount_cents.to_f / 100 ) 
      at All Kohls Coupons Cash Back.
