!!! 5
%html(lang="en-US")
  %body
    %p 
      Your user name is: 
      = @user.user_name
    %p Please click on link below to reset your password.
    %p= link_to "Reset my password", password_reset_url(@user.token)
    %p You will be taken to a form at cashback.allkohlscoupons.com and you add a new password and confirm it.
    %p Thanks,
    %br
    %br
    %p AllKohlsCoupons.com